<!DOCTYPE html>
<html>
<head lang="en">
    <title>Contact MS</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    
     <div class="jumbotron" style="height:500px">
            <div class="row text-center">
                <div class="">
                    <h2>Contact Management System Trial 12345</h2>
                    <h3>@Relevance lab</h3>
                </div>
            </div>
            <div class="row text-center">
                <img src="../../static/images/boot.png" width="200" th:src="@{/images/boot3.png}"/>
            </div>
        </div>
    
</div>
</body>
</html>
